/* common-style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap {
  width: 80%;
  margin: 30px auto;
}
/* banner-start */
.banner {
  background-image: url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 16px;
  padding: 120px 0;
}

.banner h3 {
  font-family: "Merriweather";
  font-size: 32px;
  color: #fff;
  margin: 10px 0;
}
.banner p {
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  color: #fff;
}
/* price-section */
.price-section {
  text-align: center;
  align-items: center;
  margin-top: 60px;
}
.price-section h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 20px;
}
.price-section h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.price-section h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.price-section img {
  margin: 30px 0 50px 0;
  max-width: 500px;
}
/* welcome-party */
.welcome-party {
  background-image: url("../images/Vectorrr.png");
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.welcome-party-content {
  width: 50%;
  margin-left: 80px;
}
.welcome-party h3 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.welcome-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  line-height: 30px;
}
.welcome-party button {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border: none;
  margin: 20px 0 0 20px;
}
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
